.git
.gitignore
.vscode
.idea
node_modules
npm-debug.log
dist
coverage
.env
.env.*
!.env.example
.DS_Store
.husky
.temp
.tmp
docs
README.md
LICENSE
CHANGELOG.md
.prettierrc
eslint.config.mjs
jest.config.js
tsconfig.json
tsconfig.build.json
nest-cli.json
